* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: url("/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.estructura {
  display: grid;
  grid-template-columns: [left-side] 10% [objectes] 80% [right-side] 10%;
  grid-template-rows: [title] 150px [piano] 500px [cercador] 40%;
}

.titol-cont {
  display: grid;
  grid-column-start: objectes;
  grid-column-end: right-side;
  grid-row-start: title;
  grid-row-end: piano;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titol {
  font-size: 90px;
}

.tecles {
  display: grid;
  grid-column-start: objectes;
  grid-column-end: right-side;
  grid-row-start: piano;
  grid-row-end: cercador;
  background-image: linear-gradient(white, black);
}

.llista {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 70px;
}

.tecla1 {
  background-color: white;
  border: solid black 3px;
  position: absolute;
  width: 50px;
  height: 450px;
  top: 10px;
  left: 10px;
}

.tecla2 {
  background-color: red;
  border: solid black 3px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 60px;
}